body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:7px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:120px;
  width:328px;
  height:577px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:577px;
}
#u3 {
  position:absolute;
  left:2px;
  top:280px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:38px;
  top:122px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:92px;
  top:480px;
  width:200px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:92px;
  top:550px;
  width:200px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:102px;
  top:210px;
  width:180px;
  height:180px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u11 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:280px;
  top:508px;
  width:22px;
  height:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:280px;
  top:578px;
  width:22px;
  height:22px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
