body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:112px;
  width:328px;
  height:577px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:577px;
}
#u3 {
  position:absolute;
  left:2px;
  top:280px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:41px;
  top:118px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:179px;
  top:166px;
  width:32px;
  height:2px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:184px;
  top:148px;
  width:5px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:192px;
  top:146px;
  width:5px;
  height:22px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:201px;
  top:142px;
  width:5px;
  height:26px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:156px;
  width:5px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:52px;
  top:146px;
  width:5px;
  height:23px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:23px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:54px;
  top:134px;
  width:5px;
  height:27px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:27px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:307px;
  top:154px;
  width:7px;
  height:7px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:320px;
  top:154px;
  width:7px;
  height:7px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:332px;
  top:154px;
  width:7px;
  height:7px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:120px;
  top:218px;
  width:150px;
  height:150px;
  font-size:48px;
  color:#339999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u27 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:60px;
  top:394px;
  width:271px;
  height:114px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:114px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:60px;
  top:458px;
  width:270px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u31 {
  position:absolute;
  left:60px;
  top:488px;
  width:210px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:21px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:60px;
  top:528px;
  width:279px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:38px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:60px;
  top:580px;
  width:279px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:38px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:60px;
  top:628px;
  width:279px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:38px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:43px;
  top:140px;
  width:27px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:60px;
  top:146px;
  width:40px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
