body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:425px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:344px;
  top:914px;
  width:81px;
  height:18px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:7px;
  width:380px;
  height:800px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:28px;
  top:120px;
  width:328px;
  height:577px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:577px;
}
#u5 {
  position:absolute;
  left:2px;
  top:280px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:92px;
  top:299px;
  width:200px;
  height:208px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:208px;
}
#u7 {
  position:absolute;
  left:2px;
  top:96px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:175px;
  top:328px;
  width:75px;
  height:19px;
  font-size:18px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:175px;
  top:394px;
  width:75px;
  height:19px;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:130px;
  top:364px;
  width:120px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u13 {
  position:absolute;
  left:131px;
  top:430px;
  width:119px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:102px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:119px;
  height:1px;
}
#u14 {
  position:absolute;
  left:139px;
  top:327px;
  width:25px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:143px;
  top:387px;
  width:17px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:92px;
  top:571px;
  width:200px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:158px;
  top:587px;
  width:83px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:102px;
  top:215px;
  width:174px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:175px;
  top:458px;
  width:75px;
  height:19px;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:139px;
  top:452px;
  width:27px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:38px;
  top:122px;
  width:308px;
  height:13px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:220px;
  top:324px;
  width:40px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:220px;
  top:394px;
  width:40px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:220px;
  top:458px;
  width:40px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:270px;
  top:590px;
  width:31px;
  height:31px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
