body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:7px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:120px;
  width:328px;
  height:577px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:577px;
}
#u3 {
  position:absolute;
  left:2px;
  top:280px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:38px;
  top:122px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:41px;
  top:154px;
  width:20px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  height:1px;
}
#u7 {
  position:absolute;
  left:42px;
  top:154px;
  width:20px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  height:1px;
}
#u8 {
  position:absolute;
  left:143px;
  top:151px;
  width:98px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:28px;
  top:180px;
  width:328px;
  height:310px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:310px;
}
#u11 {
  position:absolute;
  left:2px;
  top:147px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:29px;
  top:210px;
  width:326px;
  height:90px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:37px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:250px;
  width:306px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u15 {
  position:absolute;
  left:40px;
  top:227px;
  width:120px;
  height:16px;
  font-size:16px;
  color:#D7D7D7;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:270px;
  width:120px;
  height:16px;
  font-size:16px;
  color:#D7D7D7;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:92px;
  top:330px;
  width:200px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:162px;
  top:397px;
  width:68px;
  height:10px;
  color:#A1A1A1;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:10px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:302px;
  top:151px;
  width:53px;
  height:16px;
  font-size:16px;
  color:#BCBCBC;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:29px;
  top:479px;
  width:326px;
  height:217px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:217px;
}
#u26 {
  position:absolute;
  left:2px;
  top:100px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:331px;
  top:145px;
  width:40px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:55px;
  top:151px;
  width:40px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
