body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:112px;
  width:328px;
  height:577px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:577px;
}
#u3 {
  position:absolute;
  left:2px;
  top:280px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:41px;
  top:116px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:172px;
  top:608px;
  width:29px;
  height:52px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:52px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:64px;
  top:276px;
  width:257px;
  height:152px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:152px;
}
#u9 {
  position:absolute;
  left:2px;
  top:68px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:92px;
  top:294px;
  width:200px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:112px;
  top:328px;
  width:160px;
  height:55px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:222px;
  top:334px;
  width:45px;
  height:45px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:117px;
  top:334px;
  width:45px;
  height:45px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:167px;
  top:340px;
  width:50px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:115px;
  top:298px;
  width:155px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:182px;
  top:304px;
  width:60px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:117px;
  top:354px;
  width:4px;
  height:4px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:123px;
  top:340px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:136px;
  top:334px;
  width:4px;
  height:4px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:138px;
  top:374px;
  width:4px;
  height:4px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:158px;
  top:354px;
  width:4px;
  height:4px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:151px;
  top:370px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:152px;
  top:340px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:125px;
  top:370px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:222px;
  top:354px;
  width:4px;
  height:4px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:228px;
  top:340px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:241px;
  top:334px;
  width:4px;
  height:4px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:243px;
  top:374px;
  width:4px;
  height:4px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:263px;
  top:354px;
  width:4px;
  height:4px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:256px;
  top:370px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:257px;
  top:340px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:230px;
  top:370px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:102px;
  top:404px;
  width:40px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:239px;
  top:404px;
  width:40px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:52px;
  top:638px;
  width:60px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:285px;
  top:638px;
  width:60px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:52px;
  top:276px;
  visibility:hidden;
}
#u64_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u64_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:164px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:164px;
}
#u66 {
  position:absolute;
  left:2px;
  top:76px;
  width:284px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:305px;
  top:638px;
  width:40px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:72px;
  top:638px;
  width:40px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
